{% extends "base.html" %}
{% load bootstrap%}
{% block content %}

<form method="GET" action="">
{{ filter.form|bootstrap}}

<button type="submit" class="btn btn-primary">Search</button>
</form>


    {% for pla in filter.qs %}
    -----------------------------------------------<br>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
             <p>Name :-  {{ pla.player_name }}</p>
           
            <p class="article-content">Country :- {{ pla.player_country }}</p>
            <p class="article-content">Selling Team :- {{ pla.sell_teamName }}</p></div>
          </div>
        </article>
    
    {% endfor %}
    -----------------------------------------------<br>
{% endblock content %}
